# shock 
#
# This service maintains a shock instance from the point the system is
# started until it is shut down again.

start on runlevel [23]
stop on runlevel [!23]

respawn
exec [% kb_top %]/bin/shock-server -conf [% kb_top %]/services/shock_service/conf/shock.cfg
