#
# Shock Client and Server configs
#
# Please see $TARGET/services/shock_service/conf for the
# shock client and server configs
#
[shock_service]

shock-site = /mnt/Shock/site
shock-data = /mnt/Shock/data
shock-logs = /mnt/Shock/logs

mongo-host = localhost
mongo-db = ShockDBtest

server-api-url = http://localhost:7078
;
; The makefile will determine this from the url
; server-api-port = 7078

